* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.sp-thongbao {
  display: none;
}

.sp-thongbao-hide {
  color: red;
  margin-left: 2px;
  display: inline-block;
  margin-left: 3px;
}

.eye {
  position: relative;
}
.eye .eye__open {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 25px;
}

#top__header {
  background-color: #000000;
  width: 100%;
}
#top__header .top__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#top__header .top__content .logo__brand {
  margin-top: -8px;
}
#top__header .top__content .logo__brand img {
  width: 100%;
  padding: 14px 0;
}
#top__header .top__content ul.shopping {
  list-style-type: none;
  display: flex;
}
#top__header .top__content ul.shopping li.cart {
  padding: 10px;
}
#top__header .top__content ul.shopping li {
  list-style-type: none;
}
#top__header .top__content ul.shopping li .ul {
  list-style-type: none;
  display: flex;
}
#top__header .top__content ul.shopping li .ul li {
  display: block;
  padding: 14px 10px;
}
#top__header .top__content ul.shopping li .ul li a {
  color: #F6F6F6;
  font-size: 16px;
  text-decoration: none;
}
#top__header .top__content ul.shopping li .ul li:hover {
  background-color: red;
  transition: all 0.3s;
}

#header {
  background-color: #FFFFFF;
}
#header .togShop {
  color: #111;
  text-align: right;
  cursor: pointer;
  display: none;
}
@media (max-width: 900px) {
  #header .togShop {
    display: block;
  }
}
#header .menu {
  padding: 0 0;
}
@media (max-width: 900px) {
  #header .menu {
    text-align: center;
    display: none;
  }
}
#header .menu ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}
@media (max-width: 900px) {
  #header .menu ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
#header .menu ul li {
  padding: 15px;
}
@media (max-width: 900px) {
  #header .menu ul li {
    width: 100%;
  }
}
#header .menu ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.7;
}
#header .menu ul li:hover {
  background-color: #d95353;
  transition: all 0.3s;
  font-weight: 500;
  opacity: 1;
}
#header .menu ul li:hover a {
  color: #fff;
}

#resgiter {
  background-color: #fffcfc;
  padding-top: 30px;
}
#resgiter h2 {
  color: #000;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
@media (max-width: 900px) {
  #resgiter h2 {
    font-size: 30px;
  }
}
#resgiter .resgiter__content {
  width: 90%;
}
#resgiter .resgiter__content .form-control {
  border-width: 0 0 4px 0;
  border-color: #111;
  color: #000000;
  background-color: #fffcfc;
  border-radius: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
@media (max-width: 900px) {
  #resgiter .resgiter__content .form-control {
    border-width: 0 0 2px 0;
    font-size: 20px;
    font-weight: 300;
  }
}
#resgiter .resgiter__content .form-control ::placeholder {
  color: #000;
}
#resgiter .resgiter__content .form-control :focus {
  box-shadow: none;
  border-color: #ae18e2;
  transition: all 0.75s;
}
#resgiter .resgiter__content .sex {
  border-width: 0 0 5px 0;
  border-color: #ccc;
  color: #000000;
  border-radius: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
@media (max-width: 900px) {
  #resgiter .resgiter__content .sex {
    font-size: 20px;
  }
}
#resgiter .resgiter__content .linked {
  margin: 6rem 0;
}
@media (max-width: 900px) {
  #resgiter .resgiter__content .linked {
    margin: 2rem 0;
  }
}
#resgiter .resgiter__content .linked .btn__1 {
  color: #FFFCFC;
  background-color: #AE18E2;
  border-color: #AE18E2;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding: 8px 70px;
  border-radius: 10px;
}
@media (max-width: 900px) {
  #resgiter .resgiter__content .linked .btn__1 {
    font-size: 20px;
    padding: 0 30px;
  }
}
#resgiter .resgiter__content .linked p {
  margin: 0 0 25px;
}
#resgiter .resgiter__content .linked p a {
  color: #000;
  text-decoration-line: underline;
  text-underline-offset: 8px;
}
#resgiter .resgiter__content .linked .alertRegisterSuccess {
  color: green;
  font-size: 20px;
}

#footer .top__footer {
  background-color: #fafafa;
  padding: 30px 0;
}
#footer .top__footer .top__content .col-md-4 {
  border-right: 5px solid #f4f4f4;
}
#footer .top__footer .top__content .col-md-4 h3 {
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
}
#footer .top__footer .top__content .col-md-4 ul li {
  list-style-type: none;
}
#footer .top__footer .top__content .col-md-4 ul li a {
  color: #4d4d4e;
  text-decoration: none;
}
#footer .top__footer .top__content .col-md-4 p {
  color: #4d4d4e;
}
#footer .top__footer .top__content .col-md-4 a {
  color: #de8b87;
  text-decoration: none;
}
#footer .bottom__footer {
  background-color: #ececec;
  padding: 30px 0;
}
#footer .bottom__footer p {
  color: #4d4d4e;
}
#footer .bottom__footer a {
  color: #de8b87;
  text-decoration: none;
}